<app-header></app-header>
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-down">
            <img src="assets/img/llave2.png" style="width: 200px;">
        </div>
        <div class="row section-title" data-aos="fade-down">
            <h2>Block Cryptosystems</h2>
            <p>Interact with block ciphers such as: S-DES, DES and AES.</p>

        </div>

        <form [formGroup]="form" class="row justify-content-center" data-aos="fade-up">

            <div class="form-group col-10">

            
                <label class="mb-2" for="cipher">Select cryptosystem</label>
                <select class="form-control" id="cipher" formControlName="cipher" (change)="cryptosystem_change()">
                    <option value="sdes">S-DES</option>
                    <option value="des">DES</option>
                    <option value="3des">3-DES</option>
                    <option value="aes">AES</option>
                </select>

                <div class="form-group mt-3" *ngIf="form.value.cipher == 'vigenere'">
                    <label for="key" class="mb-2">Key Length</label>
                    <input type="text" class="form-control" id="key" formControlName="keyLength">
                </div>

                <div *ngIf="form.value.cipher == 'hill' || form.value.cipher == 'permutation'" class="form-group mt-3">
                    <label for="key" class="mb-2">Number of partitions (m)</label>
                    <small class="text-primary ms-2">(From 2 to 32)</small>
                    <input type="text" class="form-control" id="key" formControlName="numPartitions">
                </div>

                <button *ngIf="!randomKeyLoading" type="submit" (click)="generate_random_key()"
                    class="btn btn-outline-primary mt-3">Generate random key</button>
                <button *ngIf="randomKeyLoading" class="btn btn-primary mt-3" type="submit" style="width: 166px;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
                <p *ngIf="errorRandomKey" class="alert alert-danger mt-2">
                    Unexpected error while generating random key.
                </p>

                <div *ngIf="form.value.cipher == 'aes'" class="col-12 form-group mt-4">
                    <label class="mb-2" for="cipher">Key Length</label>
                    <select class="form-control" id="keyLength" formControlName="keyLength" (change)="generate_random_key()">
                        <option value="16" selected>128 bits</option>
                        <option value="24">192 bits</option>
                        <option value="32">256 bits</option>
                    </select>
                </div>

                <div *ngIf="form.value.cipher == 'aes' || form.value.cipher == 'des' || form.value.cipher == '3des'" class="col-12 form-group mt-4">
                    <label class="mb-2" for="cipher">Encryption Mode</label>
                    <select class="form-control" id="encryptionMode" formControlName="encryptionMode" (change)="generate_random_key()">
                        <option value="cbc" selected>CBC</option>
                        <option value="ecb" *ngIf = "form.value.cipher == 'des' || form.value.cipher == '3des' || form.value.cipher == 'aes'">ECB</option>
                        <option value="pcbc">PCBC</option>
                        <option value="cfb" *ngIf = "form.value.cipher == 'aes'">CFB</option>
                        <option value="ofb" *ngIf = "form.value.cipher == 'aes'">OFB</option>
                        <option value="ctr" *ngIf = "form.value.cipher == 'aes'">CTR</option>
                    </select>
                </div>

                <div *ngIf="form.value.cipher == 'hill' || form.value.cipher == 'permutation'" class="form-group mt-3">
                    <label for="key" class="mb-2">Key Length</label>
                    <input type="text" class="form-control" id="key" formControlName="numPartitions">
                </div>

            
            </div>

            <div class="col-10 form-group mt-4">
                <label for="key" class="mb-2">Enter Key (K)</label>
                <input type="text" class="form-control" id="key" formControlName="key">
                <p *ngIf="invalidKey" class="alert alert-danger">
                    Invalid key.
                </p>
            </div>

            <div class="col-10 form-group mt-4"
                *ngIf="this.form.value.cipher == 'aes'">
                <label for="key" class="mb-2">Enter Initialization Vector (IV)</label>
                <input type="text" class="form-control" id="initialPermutation" formControlName="initialPermutation">
                <p style="font-size:11px;">This will be automatically generated when clicking <strong>Encrypt</strong> and will be used for decryption.</p>
            </div>

            <div class="col-10 form-group mt-4"
                *ngIf="this.form.value.cipher == 'sdes' || this.form.value.cipher == 'des'">
                <label for="schedule" class="mb-2">IP (Permutation)</label>
                <input class="form-control" id="initialPermutation" formControlName="initialPermutation">
                <p style="font-size:11px;">This will be automatically generated when clicking <strong>Encrypt</strong> and will be used for decryption.</p>
            </div>

            <div class="col-10 form-group mt-4"
                *ngIf="this.form.value.cipher == 'sdes' || this.form.value.cipher == 'des'">
                <label for="schedule" class="mb-2">Key Schedule</label>
                <textarea style="min-height: 100px;" class="form-control" id="schedule"
                    formControlName="schedule"></textarea>
            </div>

            <div *ngIf="form.value.cipher == 'stream'" class="col-10 form-group mt-4">
                <label for="key" class="mb-2">Key Stream</label>
                <input type="text" class="form-control" id="key" formControlName="keyStream">
                <p *ngIf="invalidKey" class="alert alert-danger">
                    Invalid key.
                </p>
            </div>

            

            <div class="col-10 col-lg-5 mt-3">

                <div class="form-group mt-3">
                    <label class="mb-2" for="cleartext">Clear text</label>
                    <textarea class="form-control" id="cleartext" rows="3" style="min-height: 170px;"
                        formControlName="cleartext"></textarea>
                </div>

                <div class="d-flex mt-4 justify-content-center">
                    <button *ngIf="!encryptLoading" type="submit" class="btn btn-outline-primary me-1"
                        [disabled]="form.invalid || form.value.cleartext == ''" (click)="encrypt()">Encrypt</button>
                    <button *ngIf="encryptLoading" class="btn btn-primary me-1" type="submit" style="width: 120px;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button class="btn btn-outline-info" (click)="clearText()"
                        [disabled]="form.value.cleartext == ''">Clear</button>

                </div>
                <p *ngIf="errorEncrypt" class="alert alert-danger mt-2">
                    Unexpected error while encrypting clear text.
                </p>
            </div>

            <div class="col-10 col-lg-5 mt-3">
                <div class="form-group mt-3">
                    <label class="mb-2" for="ciphertext">Cipher text</label>
                    <textarea class="form-control" id="ciphertext" rows="3" style="min-height: 170px;"
                        formControlName="ciphertext"></textarea>
                </div>
                <div class="d-flex mt-4 justify-content-center">

                    <button *ngIf="!decryptLoading" type="submit" class="btn btn-outline-primary me-1"
                        [disabled]="form.invalid || form.value.ciphertext == ''" (click)="decrypt()">Decrypt</button>
                    <button *ngIf="decryptLoading" class="btn btn-primary me-1" type="submit" style="width: 120px;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>


                    <button class="btn btn-outline-info ms-2" (click)="clearCipherText()"
                        [disabled]="form.value.ciphertext == ''">Clear</button>

                </div>
                <p *ngIf="errorDecrypt" class="alert alert-danger mt-2">
                    Unexpected error while decrypting cipher text.
                </p>

            </div>

            <!-- Encriptado de imágenes -->
            <div class="col-10 col-lg-5 mt-4" *ngIf="form.value.cipher == 'aes' || form.value.cipher == 'sdes' || this.form.value.cipher == 'des' || this.form.value.cipher == '3des'">
                <div class = "form-group">
                     <label for="key" class="mb-2">Clear image</label>
                     <div class = "d-flex justify-content-center">
                         <img [src] = "clearImage" width = "420px" height = "300px" class = "shadow-sm">
                     </div>
       
                     <div class = "d-flex justify-content-center mt-4">
                         <button class = "btn btn-outline-danger me-2" (click)="filePicker.click()">Upload</button>
                         <button *ngIf="!encryptLoading" type="submit" class="btn btn-outline-primary me-2"
                         [disabled]="form.invalid || form.value.file == ''" (click)="encrypt_image()">Encrypt</button>
                     </div>
                     
                     <input style="display: none;" type = "file" accept="image/*" #filePicker (change)="onFileSelected($event)" name="file" id = "file">
                </div>
             </div>
             
             <div class="col-10 col-lg-5 mt-4" *ngIf="form.value.cipher == 'aes' || form.value.cipher == 'sdes' || this.form.value.cipher == 'des' || this.form.value.cipher == '3des'">
                 <div class = "form-group">
                      <label for="key" class="mb-2">Cipher image</label>
                      <div class = "d-flex justify-content-center">
                         <img #imgcrypt [src] = "cipherImage" width = "420px" height = "300px" class = "shadow-sm">
                     </div>
                     <!--
                     <div class = "d-flex justify-content-center" *ngIf = "loadDummyImage == true">
                         <img src = "assets/img/imagen_encriptada.png" width = "420px" height = "300px" class = "shadow-sm">
                     </div>
                     -->
                   
                      <div class = "d-flex justify-content-center mt-4">
                          <!--
                         <button class = "btn btn-outline-primary me-2" (click)="decrypt_image()">Decrypt</button>
                         
                         <button class = "btn btn-outline-secondary">Analyze</button> 
                         -->
                      </div>
                 </div>
              </div>
        </form>

    </div>
</section><!-- End Services Section -->
<app-footer></app-footer>